$primary: $blue;
$primaryLight: $blueLight;
$primaryDark: $blueDark;
$complementary: $white;

$base: $black;
$additional: $grey;
$light: $whiteDarkest;

$success: $green;
$error: $red;
$warning: $yellow;
