.button {
  background-color: $primary;
  color: $complementary;
  padding: 8px 16px;
  text-align: center;
  min-width: 200px;

  &:hover {
    opacity: 0.6;
  }

  &_active {
    background-color: $primaryLight;
  }
}
